body{
	margin: 0;
	font-family: 'Garamond', 'Georgia', serif;
	font-size: 25px;
	line-height: 30px;
}
/*header styles*/
header{
	background-color: salmon;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1,h2{
	font-family: 'Six Caps', sans-serif;
}
header h1{
	color: white;
	font-size: 80px;
}

header img{
	border-radius: 150px;
	width: 300px;
	border: 10px solid #FFC300;
}


main{
	max-width: 800px;
	margin: 0 auto;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 40px;
	color: #B22222;
	margin: 4px 0 10px;
}

a{
	color: #B22222;
}

a:hover{
	color: white;
	background-color: #FFC300;
}

footer{
	background-color: salmon;
	text-align: center;
}

footer a{
	color: white;
}
footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #DC143C;
	font-size: 20px;
	font-style: italic;
	margin-top: 0;
}